<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GA-Lossary</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
  <header><h1>GA-Lossary</h1></header>


  {{{body}}}
  
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</body>
</html>
