<h2 class='center' id='new-topic-header'>Signup</h2>
<div class="container">

  <form action="/signup" method="post" class='col s12'>

{{#if message}}
  <div>{{message}}</div>
{{/if}}

<p class="center">Already a member? Log in <a href="/login">here</a>.</p>

<div class='section input-field'>
  <input type="text" name="email" id='email' class="validate">
  <label for="email">Email</label>
</div>

<div class='section input-field'>
  <input type="text" name="password" id='password' class="validate">
  <label for="password">Password</label>
</div>



<div class='center'>
<button class="btn submit waves-effect waves-light" type="submit" name="action">Submit
  <i class="material-icons right">send</i>
</button>
</div>
</form>
