<link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"></link>

<h1>Edit</h1>
<form method="put" action="/topics/{{id}}?_method=put">
  <label>Name:</label>
  <input type="text" name="name" value="{{name}}">
  <label>Description:</label>
  <input type="text" name="description" value="{{description}}">
  <label>Image URL:</label>
  <input type="text" name="imageUrl" value="{{imageUrl}}">
  <input type="submit" value="Edit Topic">
</form>
