
<a href="/topics/new">New Topic</a>
{{#each topic}}
  <div class="topic">
    <div class="topicName"><a href="/topics/{{_id}}">{{topic.name}}</a></div>
    <!-- {{#each reminders}} -->
      <!-- <p class="reminder">{{body}}</p> -->
    <!-- {{/each}} -->
    <!-- <br> -->
  </div>
{{/each}}
