<p><a href="/topics/new">New Topic</a></p>
{{#each topics}}
  <div class="topic">
    <div class="topicName"><a href="/topics/{{_id}}">{{name}}</a></div>
    <!-- {{#each reminders}} -->
      <!-- <p class="reminder">{{body}}</p> -->
    <!-- {{/each}} -->
    <!-- <br> -->
  </div>
{{/each}}
