<div class="row center">
  <a href="/topics/new" id="download-button" class="btn-large hoverable waves-effect waves-light lighten-1">New Topic</a>
</div>


<div class='container' id='topicContainer'>
  <div class="row">
    {{#each topics}}
    <div class="col s12">
      <div class="card medium" id='topicCard'>
        <div id='color-one'>
          <div class="card-image waves-effect waves-block waves-light">
            <img class='card-image activator responsive-img' src="{{imageUrl}}">
          </div>
          <div class='card-content topic-description right'>
            <span class="card-title activator center" id='topicName'>{{name}}<i class="material-icons right">more_vert</i></span>
            <p class='center-align activator' id='topicDescription'>{{description}}</p>
            <p class='activator' id='learn-more'>Learn More</p>
          </div>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">{{name}}<i class="material-icons right">close</i></span>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>
