<link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
<h2 class='center' id='new-topic-header'>Create New Topic</h2>
<div class="row">

  <form action="/topics" method="post" class='col s12'>
    <div class='section input-field'>
      <input type="text" name="name" class="validate">
      <label>Topic Name:</label>
    </div>

    <div class='section input-field'>
      <input type="text" name="description" class="validate">
      <label>Description:</label>
    </div>

    <div class='section input-field'>
      <input type="text" name="imageUrl" class="validate">
      <label>Image URL:</label>
    </div>
    <input type="submit">
  </form>
</div>
