<link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
<h1> {{topic.name}} </h1>
<p> {{topic.description}} </p>
<div class="editTopic"><a href="/topics/{{topic.id}}/edit">Edit</a></div>
{{#each topic.links}}
  <p>{{url}}</p>
{{/each}}
